.navbar-logo-bity{
   width:70px ;
   height: 50px;

}

.container-nav-button-users{
margin-top: 20px;
margin-bottom: 40px;


}

.btn-profile{
  
   margin-top: 48px !important;
   border-color: black !important;
   border-right-color: transparent!important;
   border-left-color: transparent !important;
   width: 100px; 
}
.modifie-profile-pargraphe{
   font-size:15px ;
   font-weight: bold;
}
.container-nav-button-users-profile{
   margin-top:20px ;
   font-size:15px ;
   font-weight: bold;
   border-color: transparent!important;
   font-family: 'Cormorant Infant serif';
   width: 100px; 
}
.container-dashbord{
   display: flex;
   flex-flow: row wrap;
}
/* .my-drawer {
   width:540px 
} */
.container-nav{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
padding: 0 105px;
 }
 .leftMenu,.rightMenu{
padding-top:35px
  }
.menuBar{
	padding: 0 20px;
	border-bottom: solid 1px #e8e8e8;
	overflow: auto;
	box-shadow: 0 0 30px #f3f1f1;
  }
  .logo{

	float: left;
  }
  .logo a{
	display: inline-block;

	padding: 19px 20px;
	text-transform: capitalize;
  }
  .menuCon{
	width: calc(100% - 150px);
	float: left;
  }
  .menuCon .ant-menu-item{
	padding: 0px 5px;
  }
  .menuCon .ant-menu-submenu-title{
	padding: 10px 20px;
  }
  .menuCon .ant-menu-item a, .menuCon .ant-menu-submenu-title a{
	padding: 10px 15px;
  }
  .menuCon .ant-menu-horizontal{
	border-bottom: none;
  }
  .menuCon .leftMenu{
	float: left;
  }
  .menuCon .rightMenu{
	float: right;
  }
  .barsMenu{
	float: right;
	height: 32px;
	padding-right:25px;
	margin-top: 35px;
	display: none;
	background: none;
  }
  .barsBtn{
	display: block;
	width: 20px;
	height: 2px;
	background: #1890ff;
	position: relative;
  }
  .barsBtn:after,.barsBtn:before{
	content: attr(x);
	width: 20px;
	position: absolute;
	top: -6px;
	left: 0;
	height: 2px;
	background: #1890ff;
  }
  
  .barsBtn:after{
	top: auto;
	bottom: -6px;
  }
  .ant-drawer-body{
	padding: 0;
  }
  .ant-drawer-body .ant-menu-horizontal > .ant-menu-item, .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu{
	display: inline-block;
	width: 100%;
  }
  .ant-drawer-body .ant-menu-horizontal{
	border-bottom: none;
  }
  .ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover{
	border-bottom-color: transparent;
  }
  
  @media(max-width: 767px){
	.barsMenu{
	  display: inline-block;
	}
	.leftMenu,.rightMenu{
	  display: none;
	}
	.logo a{
	  margin-left: -20px;
	}
	.menuCon .ant-menu-item, .menuCon .ant-menu-submenu-title{
	  padding: 1px 20px;
	}
	.logo a{
	  padding: 10px 20px;
  }
  .menuBar{
width: 100%;
 
    }
  }
  
 
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
.ant-drawer-wrapper-body{
   width:  400px!important; 
   padding: 0 10px !important; 


}

  .ant-drawer-body{
   width: 400px!important;
   padding: 0!important; 

  }
  .ant-drawer-content{
   padding: 0!important; 
  }

}