.navbar-logo-bity{
   width:100px ;
   height: 80px;

}
.container-nav{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   padding-left: 55px;
padding-right: 55px;
box-shadow: 0 0 10px black;


}
.container-nav-button-users{
margin-top: 20px;
margin-bottom: 40px;

}

.btn-profile{
  
   margin-top: 48px !important;
   border-color: black !important;
   border-right-color: transparent!important;
   border-left-color: transparent !important;
   width: 100px; 
}
.modifie-profile-pargraphe{
   font-size:15px ;
   font-weight: bold;
}
.container-nav-button-users-profile{
   margin-top:20px ;
   border-color: black !important;
   border-right-color: transparent!important;
   border-left-color: transparent !important;
   width: 100px; 
}
.container-dashbord{
   display: flex;
   flex-flow: row wrap;
}
/* .my-drawer {
   width:540px 
} */

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
.ant-drawer-wrapper-body{
   width:  400px!important; 
   padding: 0 10px !important; 


}

  .ant-drawer-body{
   width: 400px!important;
   padding: 0!important; 

  }
  .ant-drawer-content{
   padding: 0!important; 
  }

}