.navbar-logo-bity{
   width:100px ;
   height: 80px;
   margin-top: 25px;
}
.container-nav{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   margin-left: 55px;
   margin-right: 55px;

}
.container-nav-button-users{
margin-top: 40px;
margin-bottom: 40px;

}

.btn-profile{
  
   margin-top: 48px !important;
   border-color: black !important;
   border-right-color: transparent!important;
   border-left-color: transparent !important;
   width: 100px; 
}
.modifie-profile-pargraphe{
   font-size:15px ;
   font-weight: bold;
}
.container-nav-button-users-profile{
   margin-top:60px ;
   border-color: black !important;
   border-right-color: transparent!important;
   border-left-color: transparent !important;
   width: 100px; 
}