

.container-app{
    /* margin-left: 50px;
    margin-right: 50px; */
    /* display: flex;
    flex-flow: row wrap; */
}


body{
    background-image: url();

}
p,h2,h3,span,h4,h5{
    font-size: 20px;
    font-family: 'Cormorant Infant', serif;
    font-weight: bold;
   
   
}
::placeholder {
    color: grey !important;
  }