.button-connecxion-inscription{
    float: right !important;

}
.container-nav-button-users-connection{
  
    border-color: black !important;

border-left-color: transparent !important;
border-right-color: transparent!important;
    margin-top: 10px;  
    width: 120px;
  
   
    }
.container-nav-button-users-regestir{
    margin-left: 15px;
              margin-top: 10px; 
              border-color: black !important;
              border-right-color: transparent!important;
              border-left-color: transparent !important;
              width: 120px; 
           }


.container-inscription-nom-prenom-tél-role{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}
.btn-déconnexion{
  

    border-color: transparent !important;
    background-color: transparent;

}
.modifie-profile-pargraphe{
    font-size:15px ;
    text-align: center;
}
.section-dashbord{

    padding-top: 25px;
    background-image:url(../../image/dashpage.jpg);

    background-repeat: no-repeat;

    height: 700px;

    background-position: center center;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {


}