/*********************** Home guset *************************/
.container-introduction{
    background-color: #f1f5fa;

}
.container-introduction-pargraphe{
    font-size: 22px;
    color: black;
margin-bottom: 25px;
    text-align: center;
    font-weight:bold ;


}
.container-home-annonces-footer{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #f1f5fa;
}
.container-card-list-guest{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
 
}

.container-home-annonces-reseaux{
        float: right;
}
.container-home-annonces-section-barre-recherche-et-annonce{
    display: flex;
    margin-top: 25px;
}

/***************** List Annonces *******************************/
.container-card-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.vl {
    border-left: 6px solid #f1f5fa;

    margin-right:5px ;
  }
  .container-home-annonces-barre-recherche{
 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;  
}
.ant-pagination-item-link{
    border-radius:50% !important;
    background-color: #f1f5fa !important;
}
.ant-pagination-item {
    border-radius:50% !important;
    background-color: #f1f5fa !important;
   

}
a{
  
    font-weight:bold ;
}
.ant-select-selector{
    font-weight:bold ;  
    color: black !important;
 
}
.ant-input{
    font-weight:bold ;  
    color: black !important;  
}
.back-top{
  
}
/******************** Home Annonces ****************************/



/***************** ListAnnoncesProp*******************************/
.container-card-list-button-edite-delete{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.page-list-annonces-propritaire-button-edite{
    color:#40a9ff;
    zoom:1.5

}
.page-list-annonces-propritaire-button-delete{
    color: red;
    zoom:1.5

}
.container-confirmation-supprimer{
    display: flex;
padding-left: 250px;

}
/************************* ajout annonce*********************/
.container-modal-section1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.container-modal-section2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.button-ajout{
    float: right;
    margin-top: 25px;
}

