/*********************** Home guset *************************/
.container-introduction{
    background-color: #1F2833;
    padding: 35px;

}
.container-introduction-pargraphe{
    font-size: 24px;
    color: white;
margin-bottom: 25px;
    text-align: center;
    font-weight:bold ;


}
.btn-cliquer-ici-guest{
    background-color: #e00034 !important ;
position: relative;
    color: white;
   padding: 20px;
   margin-top: 5px;
   border-radius: 15px;
   width: 400px;
font-size:25px ;

}
.container-home-annonces-footer{

    padding-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
 

}
.container-card-list-guest{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
 

 
}

.container-home-annonces-reseaux{
        float: right;
}
.container-home-annonces-section-barre-recherche-et-annonce{
    display: flex;

    margin-bottom: 25px;
    padding:40px 0 ;


}
.carousel-image{
    width: 75%; 
    height: 350px;

  
}

.logo-footer{
width:265px;
height:155px
}
/***************** List Annonces *******************************/
.container-card-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}
.vl {
    border-left: 6px solid #f1f5fa;

    margin-right:5px ;
  }
  .container-home-annonces-barre-recherche{

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;  
}
.ant-pagination-item-link{
    border-radius:50% !important;
    background-color: #f1f5fa !important;
}
.ant-pagination-item {
    border-radius:50% !important;
    background-color: #f1f5fa !important;
   

}
a{
  
    font-weight:bold ;
}
.ant-select-selector{
    font-weight:bold ;  
    color: black !important;
 
}
.ant-input{
    font-weight:bold ;  
    color: black !important;  
}
.back-top{
  
}
/******************** Home Annonces ****************************/



/***************** ListAnnoncesProp*******************************/
.container-card-list-button-edite-delete{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.page-list-annonces-propritaire-button-edite{
    color:#40a9ff;


}
.page-list-annonces-propritaire-button-delete{
    color: red;


}
.container-confirmation-supprimer{
    display: flex;
padding-left: 250px;

}
/************************* ajout annonce*********************/
.container-modal-section1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.container-modal-section2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.button-ajout{
    float: right;
    margin-top: 25px;
}

  
/************************* containere + media*********************/
  
.section1-voir-plus-annonce-image{
   height: 250px ;width: 450px
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .carousel-image{
        width: 100%; 
        height: 20%;
      
    }
    .logo-footer{
        width:65px;
        height:50px
        }
	.container-home-annonces-section-barre-recherche-et-annonce { 
          width: 100%; 
          
        display: flex;
        flex-flow: row wrap;
	}

    .container-card-list{ 
		display: block; 
	}
	
    .container-home-annonces-barre-recherche{

        display: flex;
        
        flex-flow: row wrap;

    }
.containere-recherche-guest{
    display: flex;
    flex-flow: row wrap;
    padding-left: 15px;
    
 

}	
.btn-cliquer-ici-guest{
   

   width: 300px;
font-size:20px ;

}
.container-home-annonces-footer{    display: flex;
    flex-flow: row wrap; 
    justify-content: space-evenly;
 }
.container-home-annonces-reseaux{
    display: flex;
    flex-flow: row wrap;  
}

.section-voir-plus-annonce{
    width: 100%;
    display: flex;
    flex-flow: row wrap; 
}
.section1-voir-plus-annonce { 
    display: flex;
    flex-flow: row wrap; 
    text-align: start;
}
.section1-voir-plus-annonce-image{
  width:90% !important;
  text-align: start;
}
.section2-voir-plus-annonce{
    width:70% !important;
    text-align: start;

  }
  .section3-voir-plus-annonce{
    width:70% !important;
    text-align: start;

  }
}